<h1>Search results</h1>

<table>
  <% @movies.each do |movie| %>
  <tr>
    <td>
      <%= link_to movie_path(movie.id) do %>
        <%= movie_poster movie.poster_path %>
      <% end %>
    </td>
    <td>
      <%= link_to movie.title, movie_path(movie.id) %>, release date <%= movie.release_date %> <br>
      Directors:
      <% Tmdb::Movie.crew(movie.id).each do |crew| %>
        <% if crew['department'] == 'Directing' %>
          <%= crew['name'] %>,
        <% end %>
      <% end %> …<br>
      Starring:
      <% Tmdb::Movie.casts(movie.id).first(3).each do |cast| %>
        <%= cast['name'] %>,
      <% end %>
      …
    </td>
  </tr>
  <% end %>
</table>